body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #363636;
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  color: #cccccc;
}

@media (max-width: 1440px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
}

section {
  min-height: 100vh;
  width: calc(100vw - 77px);
  margin-left: 60px;
  position: relative;
  overflow: hidden;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(20%, #151111), color-stop(40%, #381818), color-stop(60%, #381818), color-stop(80%, #151111), to(black));
  background: linear-gradient(180deg, black 0%, #151111 20%, #381818 40%, #381818 60%, #151111 80%, black 100%);
}

@media (max-width: 768px) {
  section {
    margin-left: 0px;
    width: 100%;
  }
}

section .section__tittle {
  text-align: center;
  position: relative;
  font-size: 40px;
  margin: 50px 0;
}

section .section__tittle:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 5px;
  background-color: #cccccc;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu {
  position: fixed;
  height: 100%;
  width: 60px;
  background-color: #111111;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  color: #cccccc;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu .menu__logo {
  position: absolute;
  width: 80%;
  padding: 20px 10%;
  font-size: 20px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  background-color: #131313;
  font-weight: bold;
  cursor: context-menu;
}

.menu .menu__logo img {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu .menu__icons {
  margin-top: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu .menu__icons i {
  font-size: 20px;
  margin: 30px auto;
  cursor: pointer;
}

.menu .menu__icons i:hover {
  color: #f84545;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: cover;
  background-blend-mode: saturation;
  letter-spacing: 5px;
}

.about .about__text {
  position: absolute;
  text-align: center;
  cursor: context-menu;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .about .about__text {
    font-size: 27px;
  }
}

.about .about__text h1 {
  -webkit-animation: opacity 1s;
          animation: opacity 1s;
}

.about .about__text .about__text--name {
  position: relative;
  letter-spacing: 1px;
  -webkit-animation: opacity 4s;
          animation: opacity 4s;
}

.about .about__text .about__text--text {
  -webkit-animation: opacity 5s;
          animation: opacity 5s;
}

@media (max-width: 1440px) {
  .about .about__text {
    top: 38%;
  }
}

@media (max-width: 1024px) {
  .about .about__text {
    top: 40%;
  }
}

.about .about__text button {
  padding: 10px;
  border: 2px solid #f84545;
  background-color: Transparent;
  border-radius: 5px;
  color: #f84545;
  font-size: 0.8em;
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-animation: opacity 7s;
          animation: opacity 7s;
  letter-spacing: 3px;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}

.about .about__text button i {
  margin: 0 10px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.about .about__text button:hover > i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.about .about__text button:hover {
  background-color: #f84545;
  color: #cccccc;
}

@media (max-width: 1024px) {
  .about .about__text button {
    padding: 8px;
  }
}

.aboutme {
  position: relative;
  width: 100%;
}

.aboutme__content .aboutme__content--photo {
  position: relative;
}

.aboutme__content .aboutme__content--photo .aboutme__content--photoshape {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background-color: #161616;
  border-radius: 50%;
  overflow: hidden;
}

.aboutme__content .aboutme__content--photo .aboutme__content--photoshape img {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutme__content .aboutme__content--profiles {
  margin: 20px 0;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1024px) {
  .aboutme__content .aboutme__content--profiles {
    width: 80%;
    padding: 0 10%;
  }
}

.aboutme__content .aboutme__content--profiles a {
  width: 50px;
}

.aboutme__content .aboutme__content--profiles a img {
  width: 100%;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.aboutme__content .aboutme__content--profiles a img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media (max-width: 475px) {
  .aboutme__content .aboutme__content--profiles a {
    width: 60px;
    padding: 20px 0;
  }
}

.aboutme__content .aboutme__content__info {
  padding: 20px 20%;
}

@media (max-width: 1024px) {
  .aboutme__content .aboutme__content__info {
    width: 80%;
    padding: 0 10%;
  }
}

.aboutme__content .aboutme__content__info .content__info--text {
  text-align: justify;
  width: 100%;
  font-weight: 100;
  font-size: 23px;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 1px;
  color: #cccccc;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 475px) {
  .aboutme__content .aboutme__content__info .content__info--text {
    text-align: left;
  }
}

.aboutme__content .aboutme__content__info .content__info--technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15%;
  width: 70%;
}

@media (max-width: 1024px) {
  .aboutme__content .aboutme__content__info .content__info--technologies {
    width: 100%;
    padding: 50px 5%;
  }
}

@media (max-width: 475px) {
  .aboutme__content .aboutme__content__info .content__info--technologies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 10%;
  }
}

.aboutme__content .aboutme__content__info .content__info--technologies .content__info--technologie {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 475px) {
  .aboutme__content .aboutme__content__info .content__info--technologies .content__info--technologie {
    padding: 10px 0;
    width: 90%;
  }
}

.aboutme__content .aboutme__content__info .content__info--technologies .content__info--technologie img {
  width: 50px;
  -webkit-filter: grayscale(15%);
          filter: grayscale(15%);
}

@media (max-width: 475px) {
  .aboutme__content .aboutme__content__info .content__info--technologies .content__info--technologie img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}

.aboutme__content .aboutme__content__info .content__info--technologies .content__info--technologie span {
  width: 50%;
  text-align: center;
  padding: 15px 10px;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 600;
}

.skills .skills__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1024px) {
  .skills .skills__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills .skills__details .skills__progres {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills .skills__details .skills__progres .skill__name {
  padding: 15px 0 10px 0;
}

.skills .skills__details .skills__progres .skill__progres {
  width: 100%;
  height: 30px;
  background-color: #cccccc;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.skills .skills__details .skills__progres .skill__progres .progres {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
}

.skills .skills__details .skills__progres .skill__progres .HTML5 {
  width: 90%;
}

.skills .skills__details .skills__progres .skill__progres .CSS3 {
  width: 70%;
}

.skills .skills__details .skills__progres .skill__progres .JavaScript {
  width: 70%;
}

.skills .skills__details .skills__progres .skill__progres .JQuery {
  width: 50%;
}

.skills .skills__details .skills__progres .skill__progres .ReactJS {
  width: 30%;
}

@media (max-width: 1024px) {
  .skills .skills__details .skills__progres {
    width: 80%;
    padding: 0 10%;
  }
}

.skills .skills__details .skills__other {
  width: 40%;
}

.skills .skills__details .skills__other .skills_technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .skills__details .skills__other .skills_technologies img {
  width: 80px;
  padding: 13px;
}

@media (max-width: 475px) {
  .skills .skills__details .skills__other .skills_technologies img {
    width: 27%;
    padding: 8px;
  }
}

@media (max-width: 1024px) {
  .skills .skills__details .skills__other {
    width: 80%;
    padding: 0 10%;
  }
}

.skills .skills__details .skills__languages .skill__name {
  padding: 15px 0 10px 0;
}

.skills .skills__details .skills__languages .skill__progres {
  width: 100%;
  height: 30px;
  background-color: #cccccc;
  border-radius: 1px;
  border-radius: 20px;
  overflow: hidden;
}

.skills .skills__details .skills__languages .skill__progres .progres {
  height: 100%;
  width: 60%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
}

.skills .skills__details .skills__languages .skill__progres .ENG {
  width: 60%;
}

.skills .skills__details .skills__languages .skill__progres .GER {
  width: 20%;
}

.skills h4 {
  font-size: 20px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .projects__sort {
  text-align: center;
}

.projects .projects__sort button {
  border: 0px solid #08fdd8;
  padding: 10px;
  background-color: Transparent;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: #cccccc;
}

.projects .projects__sort button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  color: #f2f2f2;
}

@media (max-width: 768px) {
  .projects .projects__sort button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projects .projects__sort .active {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  color: #f2f2f2;
}

.projects .projects__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
}

.projects .projects__items .projects__item {
  width: 26%;
  height: 25vh;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1440px) {
  .projects .projects__items .projects__item {
    width: 45%;
  }
}

@media (max-width: 475px) {
  .projects .projects__items .projects__item {
    width: 90%;
    margin: 20px 5%;
  }
}

.projects .projects__items .projects__item:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.projects .projects__items .projects__item:hover > .projects__item--technologies, .projects .projects__items .projects__item:hover > .projects__item--title {
  opacity: 0.9;
}

.projects .projects__items .projects__item .projects__item--technologies, .projects .projects__items .projects__item .projects__item--title {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background-color: #fff;
  width: 100%;
  text-align: center;
  opacity: 0;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  color: #123121;
}

.projects .projects__items .projects__item .projects__item--title {
  top: 0;
  height: 20px;
}

.projects .projects__items .projects__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.projects .projects__items .projects__item img:hover ~ .projects__item--text {
  opacity: 1;
}

.projects .projects__items .projects__item .projects__item--text {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  width: 80%;
  height: 60%;
  text-align: center;
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
}

.projects .projects__items .projects__item .projects__item--text:hover {
  opacity: 1;
}

.projects .projects__items .projects__item .projects__item--text a {
  color: #fff;
  margin: 10px;
  font-size: 2.5em;
}

.contact .contact__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1440px) {
  .contact .contact__options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.contact .contact__options .contact__form {
  width: 45%;
}

@media (max-width: 1440px) {
  .contact .contact__options .contact__form {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contact .contact__options .contact__form {
    width: 80%;
    padding: 0 10%;
  }
}

.contact .contact__options .contact__form .contact__form--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contact .contact__options .contact__form .contact__form--content h1 {
  font-size: 40px;
  font-weight: bold;
  color: #e0e0e0;
  border-radius: 10%;
}

@media (max-width: 475px) {
  .contact .contact__options .contact__form .contact__form--content h1 {
    font-size: 30px;
  }
}

.contact .contact__options .contact__form .contact__form--content input {
  width: calc(50% - 15px);
  margin: 5px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  background-color: #3c3c3c;
  border-radius: 10%;
}

.contact .contact__options .contact__form .contact__form--content textarea {
  width: calc(100% - 10px);
  margin: 5px;
  min-height: 150px;
  max-height: 350px;
  background-color: #3c3c3c;
  border: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10%;
}

.contact .contact__options .contact__form .contact__form--content button {
  width: 100px;
  margin: 20px 0;
  border: 1px solid #e0e0e0;
  color: #e0e0e0;
  text-transform: uppercase;
  padding: 10px;
  background-color: #252525;
  margin-left: calc(100% - 100px);
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10%;
}

.contact .contact__options .contact__form .contact__form--content button:hover {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
}

.contact .contact__options .contact__map {
  width: 55%;
  -webkit-filter: invert(100%) grayscale(90%);
          filter: invert(100%) grayscale(90%);
}

@media (max-width: 1440px) {
  .contact .contact__options .contact__map {
    width: 100%;
  }
}

.contact .contact__options .contact__map iframe {
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .contact .contact__options .contact__map iframe {
    width: 80%;
    height: 300px;
    padding: 0 10%;
    border-radius: 30px;
  }
}

footer {
  text-align: center;
  background-color: #000000;
  letter-spacing: 2px;
  padding: 20px 0 10px 0;
}

.moveRight {
  -webkit-animation: moveRight 1s;
          animation: moveRight 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.moveLeft {
  -webkit-animation: moveLeft 2s;
          animation: moveLeft 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.moveTop {
  -webkit-animation: moveTop 1.5s;
          animation: moveTop 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.progres {
  -webkit-animation: progres 3s;
          animation: progres 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes progres {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes progres {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  56% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  56% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveLeft {
  0% {
    left: 100%;
    opacity: 0;
  }
  90% {
    left: 100%;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    left: 100%;
    opacity: 0;
  }
  90% {
    left: 100%;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}

@-webkit-keyframes moveTop {
  0% {
    margin-top: 100%;
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}

@keyframes moveTop {
  0% {
    margin-top: 100%;
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */